/* montserrat-regular - latin */
@font-face {
 font-family: "Montserrat";
 font-style: normal;
 font-weight: 400;
 src: local(""),
  url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
   url("../fonts/montserrat-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin */
@font-face {
 font-family: "Montserrat";
 font-style: normal;
 font-weight: 500;
 src: local(""), url("../fonts/montserrat-v15-latin-500.woff2") format("woff2"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
   url("../fonts/montserrat-v15-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
@font-face {
 font-family: "Montserrat";
 font-style: normal;
 font-weight: 600;
 src: local(""), url("../fonts/montserrat-v15-latin-600.woff2") format("woff2"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
   url("../fonts/montserrat-v15-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
 font-family: "Montserrat";
 font-style: normal;
 font-weight: 700;
 src: local(""), url("../fonts/montserrat-v15-latin-700.woff2") format("woff2"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
   url("../fonts/montserrat-v15-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-600 - latin */
@font-face {
 font-family: "Raleway";
 font-style: normal;
 font-weight: 600;
 src: local(""), url("../fonts/raleway-v19-latin-600.woff2") format("woff2"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
   url("../fonts/raleway-v19-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin */
@font-face {
 font-family: "Raleway";
 font-style: normal;
 font-weight: 700;
 src: local(""), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
   url("../fonts/raleway-v19-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* REGLES GENERALES */

:root {
    --primary: #F16822;
    --font-color: #333333;
    --light-font-color: #EEEEEE;
    --footer-font-color: #CCCCCC;

}
body{
    font-family: Montserrat, sans-serif;
    color: var(--font-color);
}
.container-repere-slider{
    display: flex;
    gap: 1rem;
    width: max-content;
    margin: auto;
    margin-top: 2.5rem;
}

.repere-slider{
    width: 1rem;
    height: 1rem;
    background-color: var(--font-color);

}

h2{
    font-size: 4.8rem;
    font-family: Raleway;
    font-weight: bold;
    text-align: center;
}


/* Layout */

.slider, .services, .about, .posts, .chiffres, .auteurs{
    padding-top: 17rem;
    padding-bottom: 17rem;
}

.container{
  width: 100%;
  max-width: 128rem;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.small-container{
    padding-top: 4rem;
    width: 100%;
    max-width: 104rem;
    text-align: center;
    margin: auto;
}

/* Header */
.main-header{
    background-color: white;
}
.logo p{
    font-family: Raleway, sans-serif;
    font-weight: bold;
    padding-left: 1rem;
}
.logo{
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    display: flex;
}
.logo p span{
    display: block;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}
.main-header .container{
    display: flex ;
    align-items: center;
    justify-content: space-between;
}
.list-nav{
    display: flex;
}
.nav-item{
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    display: inline-block;
}
.nav-lien{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
    color: var(--font-color);
}
.nav-lien:hover{
    background-color: var(--primary);
    color: white;
}
.checkbtn{
    display: none;
    font-size: 3rem;
    cursor: pointer;
    margin-right: 1.5rem;
}
#check{
    display: none;
}

@media only screen and (max-width:800px){
    .main-header{
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    ul.list-nav{
        flex-direction: column;
        margin-top: 3rem;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -500%;
        z-index: 100;
        background-color: white;
    }
    .nav-item{
        display: block;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .nav-lien{
        font-size: 2rem;
    }
    .checkbtn{
        display: block;
    }
    #check:checked ~ .list-nav{

        left: 0;

    }
}






/* Slider */

h1{
    text-align: center;
    font-size: 6.4rem;
    color: var(--primary);
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

.slider{
    background-image: url(../img/slider1.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 8rem;
}
.slider .container{
    position: relative;
}
.slider .small-container{
    font-size: 3.4rem;
    margin-bottom: 23rem ;
    padding-left: 5rem;
    padding-right: 5rem;
}
.slider-button-next, .slider-button-prev{
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    right: 0rem;
}
.slider-button-prev{
    right: auto;
    left: 0rem;
}
@media only screen and (max-width:540px){
    h1{
        font-size: 5rem;
    }
    .slider .small-container{
        font-size: 2rem;
    }
}

/* Services */

.list-services{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.services .small-container{
    font-size: 2.4rem;
    margin-bottom: 5rem;
}
.services-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.services-img h3{
    font-family: Raleway;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
}
.services-img p{
    line-height: 2;
    padding: 1rem;
}
.background-s-img{
    display: flex;
    width: 12.5rem;
    height: 12.5rem;
    background-color: var(--light-font-color);
    border-radius: 50%;
}
.background-s-img img{
    margin: auto;
}

/* About */

.about{
    background-image: url(../img/bokehback.jpg);
    background-size: cover;
    padding-bottom: 0rem;
    color: var(--light-font-color);
}
.about .container img{
    margin: auto;
    margin-top: 17rem;
}

.about-title{
    color: var(--primary);
}
.about .repere-slider{
    background-color: var(--light-font-color);
}
.about .small-container{
    font-size: 2.4rem;
}


/* Posts */
.posts{
    background-color: #F9F9F9;
}
.posts .small-container{
    font-size: 2.4rem;
    margin-bottom: 11.5rem;
}





.posts-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2.5rem;
}

.posts-item{
    padding: 2.5rem;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    text-align: center;
    line-height: 2;
}

.posts-item h3{
    font-family: Raleway;
    font-weight: 600;
    color: var(--primary);
    font-size: 4rem;
    margin-top: 7rem;
}
.posts-item p{
    max-width: 35rem;
}
@media only screen and (max-width:365px){
    .posts-item{
        max-width: 70%;
        font-size: 70%;
        margin: auto;
    }
    .posts-item h3{
        font-size: 70%;
    }
}

/* Chiffres */

.chiffres{
    position: relative;
}
.chiffres .container{
    position: relative;
}

.chiffres:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url(../img/lauren-mancke-aOC7TSLb1o8-unsplash-1.jpg);
    background-size: cover;
}
ul.chiffres-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    text-align: center;
    margin-top: 5rem;
}

.chiffres-item p{
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary);
}

.chiffres-item p span{
    display: block;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--font-color);
    font-weight: bold;
}

/* Auteurs */

.auteurs{
    background-image: url(../img/rect.jpg);
    background-size: cover;
    padding-bottom: 8rem;
}
.auteurs-article{
    display: flex;
    flex-direction: column;
    color: var(--light-font-color);
    text-align: center;
}
h2.auteurs-title{
    font-family: Montserrat, sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.auteurs-article div{
    display: block;
}
.auteurs-article img{
    border-radius: 50%;
    width: 70%;
    margin: auto
}
@media only screen and (min-width:700px){
    .auteurs-article img{
        margin-right: 5rem;
        width: initial
    }
    .auteurs-article{
        flex-direction: row;
        text-align: left;
    }
    h2.auteurs-title{
        margin-top: 0rem;
        margin-bottom: 0rem;
        text-align: left;
    }
}

/* Footer */

.main-footer{
    background-color: var(--font-color);
    padding-top: 11rem;
    color: var(--footer-font-color);
}
.footer-nav{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    padding-left: 3rem;
}
@media only screen and (min-width:700px){
    .footer-nav{
        padding-left: 0rem;
    }
}
.footer-nav a{
    color: var(--footer-font-color);
}
.footer-nav h2{
    font-size: 2.4rem;
    color: var(--primary);
    text-transform: uppercase;
    text-align: left;
    margin-top: 1.5rem;
}
.footer-nav .item-nav{
    line-height: 2;
}
.footer-list-tags{
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
}
.footer-tags{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: #444444;
}
.footer-list-contact{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.copiright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 5;
    border-top: 1px solid var(--footer-font-color);
    margin-top: 10rem;
}
.copiright .footer-list{
    display: flex;
    gap: 2rem;

}
@media only screen and (max-width:540px){
    .copiright p{
        font-size: 0.8rem;
    }
}